<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Electronic_Load.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Electronic_Load.Properties.Settings>
            <setting name="SelectedPort" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="SetCurrent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CutoffVoltage" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TimerSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YLeftMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YLeftMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="YRightMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YRightMax" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="XMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XMax" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AutoScaleEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MeasurementName" serializeAs="String">
                <value>Untitled</value>
            </setting>
            <setting name="VoltageColor" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="CurrentColor" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="TemperatureColor" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="PowerColor" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="LegendBackground" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="LegendBorder" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
        </Electronic_Load.Properties.Settings>
    </userSettings>
</configuration>